!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %meta{:content => "", :name => "description"}
            %meta{:content => "", :name => "author"}
              %title Agency - Start Bootstrap Theme
              / Bootstrap Core CSS
              %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}
                / Custom CSS
                %link{:href => "css/agency.css", :rel => "stylesheet"}
                  / Custom Fonts
                  %link{:href => "font-awesome-4.1.0/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}
                    %link{:href => "http://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet", :type => "text/css"}
                      %link{:href => "http://fonts.googleapis.com/css?family=Kaushan+Script", :rel => "stylesheet", :type => "text/css"}
                        %link{:href => "http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic", :rel => "stylesheet", :type => "text/css"}
                          %link{:href => "http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700", :rel => "stylesheet", :type => "text/css"}
                            / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
                            / WARNING: Respond.js doesn't work if you view the page via file://
                            /[if lt IE 9]
                              <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                              <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  %body#page-top.index
    %section#portfolio.bg-light-gray{:style => "top: 5px solid black; padding-top: 0px;"}
      .row
        .col-lg-3.text-center.side-bar{:style => "\n                    padding-left: 0px;\n                    padding-right: 0px;"}
          .col-md-12.col-sm-6.portfolio-item{:style => "\n                        padding-left: 0px;\n                        padding-right: 0px;"}
            %div{:style => "border-bottom: 1px solid #cbced0;"}
              %h1
                %font{:color => "#8ECFD3"} 部屋サーチ
            .portfolio-caption
              %h4
                %font{:color => "#8ECFD3"} No.1　小物いっぱい
              %p.text-muted 小物の種類がポイントです。
            %a.portfolio-link{"data-toggle" => "modal", :href => "http://kagu350.com/goods/g62078.html", :target => "_blank"}
              .portfolio-hover
                .portfolio-hover-content
                  %i.fa.fa-plus.fa-3x
              .img-responsive{:alt => "", :style => " height: 282px;\n                            background-image: url(&quot;img/new_fheya1.jpg&quot;);\n                            background-size: cover;\n                            background-position: center;"}
          .col-md-12.col-sm-6.portfolio-item{:style => "\n                        padding-left: 0px;\n                        padding-right: 0px;"}
            .portfolio-caption
              %h4
                %font{:color => "#8ECFD3"} No.1　小物いっぱい
              %p.text-muted 小物の種類がポイントです。
            %a.portfolio-link{"data-toggle" => "modal", :href => "http://kagu350.com/goods/g62078.html", :target => "_blank"}
              .portfolio-hover
                .portfolio-hover-content
                  %i.fa.fa-plus.fa-3x
              .img-responsive{:alt => "", :style => " height: 282px;\n                            background-image: url(&quot;img/new_fheya1.jpg&quot;);\n                            background-size: cover;\n                            background-position: center;"}
          .col-md-12.col-sm-6.portfolio-item{:style => "\n                        padding-left: 0px;\n                        padding-right: 0px;"}
            .portfolio-caption
              %h4
                %font{:color => "#8ECFD3"} No.1　小物いっぱい
              %p.text-muted 小物の種類がポイントです。
            %a.portfolio-link{"data-toggle" => "modal", :href => "http://kagu350.com/goods/g62078.html", :target => "_blank"}
              .portfolio-hover
                .portfolio-hover-content
                  %i.fa.fa-plus.fa-3x
              .img-responsive{:alt => "", :style => " height: 282px;\n                            background-image: url(&quot;img/new_fheya1.jpg&quot;);\n                            background-size: cover;\n                            background-position: center;"}
        .col-lg-9.text-center
          .col-md-12.col-sm-6.portfolio-item
            .space
          .col-md-12.col-sm-6.portfolio-item{:style => "\n                        padding-left: 0px;\n                        padding-right: 0px;"}
            %a.portfolio-link{"data-toggle" => "modal", :href => "http://kagu350.com/goods/g62078.html", :target => "_blank"}
              .portfolio-hover
                .portfolio-hover-content
                  %i.fa.fa-plus.fa-3x
              .img-responsive{:alt => "", :style => " height: 500px;\n                            background-image: url(&quot;img/new_fheya1.jpg&quot;);\n                            background-size: cover;\n                            background-position: center;"}
          .col-md-12.col-sm-6.portfolio-item
            .portfolio-caption
              %h4
                %font{:color => "#8ECFD3"} No.1　小物いっぱい
              %p.text-muted 小物の種類がポイントです。
          .col-md-2.col-sm-6.portfolio-item
            %h4 国
            %h4 地域
            %h4 居住携帯
            %h4 職業
            %h4 性別
            %h4 生年
            %h4 間取り
            %h4 広さ
          .col-md-2.col-sm-6.portfolio-item
            %h4 国
            %h4 地域
            %h4 居住携帯
            %h4 職業
            %h4 性別
            %h4 生年
            %h4 間取り
            %h4 広さ
          .col-md-4.col-sm-6.portfolio-item
          .col-md-4.col-sm-6.portfolio-item
            %input.button{:type => "button", :value => "イイネ"}
    %footer
      .container
        .row
          .col-md-4
            %span.copyright Copyright &copy; Your Website 2014
          .col-md-4
            %ul.list-inline.social-buttons
              %li
                %a{:href => "#"}
                  %i.fa.fa-twitter
              %li
                %a{:href => "#"}
                  %i.fa.fa-facebook
              %li
                %a{:href => "#"}
                  %i.fa.fa-linkedin
          .col-md-4
            %ul.list-inline.quicklinks
              %li
                %a{:href => "#"} Privacy Policy
              %li
                %a{:href => "#"} Terms of Use
    / Portfolio Modals
    / Use the modals below to showcase details about your portfolio projects!
    / jQuery Version 1.11.0
    %script{:src => "js/jquery-1.11.0.js"}
    / Bootstrap Core JavaScript
    %script{:src => "js/bootstrap.min.js"}
    / Plugin JavaScript
    %script{:src => "http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"}
    %script{:src => "js/classie.js"}
    %script{:src => "js/cbpAnimatedHeader.js"}
    / Contact Form JavaScript
    %script{:src => "js/jqBootstrapValidation.js"}
    %script{:src => "js/contact_me.js"}
    / Custom Theme JavaScript
    %script{:src => "js/agency.js"}
    :javascript
      $(function(){
          $(window).on("resize load", function(){
              $(".portfolio-hover").css({height: $($(".portfolio-item")[0]).width() + "px"})
              $(".img-responsive").css({height: $($(".portfolio-hover")[0]).width() + "px"})
          })
      })